<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Chỉnh sửa cá nhân</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<script src="/js/jquery-3.3.1.min.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
	<!--header-->
	<div th:replace="header :: header"></div>
	<!--content-->
	<div class="account">
		<div class="container register">
			<h3 class="message" th:if="${message}" th:text="${message}"></h3>
			<div class="navbar-left" th:if="${session.user != null}">
				<h1>Thông tin khách hàng</h1>
				<form th:if="${session.user != null}" th:action="@{/user/info}" method="POST">
					<table class="customerInfo">
						<tr>
							<td>
								<span class="myLabel">Họ Tên </span><label style="color: red;" id="errorName"></label>
								<input type="text" name="tenKhachhang" class="customer-payment" value="" th:value="${session.user.fullName}" id="formName">
							</td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Email </span><label style="color: red;" id="errorEmail"></label>
								<input type="email" name="email" class="customer-payment" value="" id="formEmail" th:value="${session.user.email}">
							</td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Số điện thoại </span><label style="color: red;" id="errorPhone"></label>
								<input type="tel" name="sdt" class="customer-payment" value=""  th:value="${session.user.phoneNumber}"id="formPhone">
							</td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Địa chỉ </span> <label style="color: red;" id="errorAddress"></label>
									
								<textarea rows="4" cols="30" name="diachi" class="customer-payment" th:text="${session.user.address}" id="formAddress"></textarea>
							</td>
						</tr>
					</table>
					<input type="submit" class="paymentSubmit" id="payment"
						value="Thanh toán"> <label style="color: red;"></label>
				</form>
			</div>
		</div>
	</div>
	<!--//content-->
	<!--footer-->
	<div th:replace="footer :: footer"></div>
	<!--//footer-->
</body>
</html>