<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="main">
		<div class="container">
			<div class="content-top">
				<h1 th:text="${category.tenLoaihang}"></h1>

				<div class="content-top1">

					<div class="noProduct" th:if="${#lists.isEmpty(listProductsByCate)}">
						<h3>Không có sản phẩm thuộc loại hàng này</h3>
					</div>
					<div class="item" th:unless="${#lists.isEmpty(listProductsByCate)}" th:each="product : ${listProductsByCate}">
						<a th:href="${'/single/' + product.idSanpham}"> <img
							class="img-responsive" th:src="${'/' + product.images}" />
						</a>
						<h3>
							<a id="nameProduct" th:href="${'/single/' + product.idSanpham}"
								th:utext="${product.tenSanpham}"></a>
						</h3>
						<div class="price">
							<h5 class="item_price"
								th:utext="${#numbers.formatInteger(product.gia, 3, 'COMMA')} + ' đ' "></h5>
							<a href="#" class="item_add"
								th:onclick="'addCart(\''+ ${product.idSanpham}+'\');'">Thêm
								vào giỏ</a>
							<div class="clearfix"></div>
						</div>

					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>