<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="content" th:fragment="main">
		<div class="container">
			<div class="content-top">
				<h1>Danh sách sản phẩm</h1>

				<div class="content-top1">
					<div class="item"  th:each="product : ${listProducts}">
							<a th:href="${'/single/' + product.idSanpham}"> <img
								class="img-responsive" th:src="${product.images}" />
							</a>
							<h3>
								<a id="nameProduct" href="${'/single/' + product.idSanpham}"
									th:utext="${product.tenSanpham}"></a>
							</h3>
							<div class="price">
								<h5 class="item_price" th:utext="${product.gia}"></h5>
								<a
									href="#"
									class="item_add"
									onclick="addCart();">Thêm vào giỏ</a>
								<div class="clearfix"></div>
							</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>