<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Trần Lê Vi Handshop</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<script src="js/jquery.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
</script>
<!-- start menu -->
<link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/memenu.js"></script>
<script>
	$(document).ready(function() {
		$(".memenu").memenu();
	});
</script>
<script src="js/simpleCart.min.js">
	
</script>
<!-- slide -->
<script src="js/responsiveslides.min.js"></script>
<script>
	$(function() {
		$("#slider").responsiveSlides({
			auto : true,
			speed : 500,
			namespace : "callbacks",
			pager : true,
		});
	});
</script>
<style type="text/css">
.col-md-3.col-md2 {
	padding-bottom: 3%;
}
</style>
</head>
<body>
	<!--header-->
	<!--content-->
	<div class="account">
		<div class="container register">
			<h1>Đăng ký</h1>
			<form action="RegisterServlet" method="POST">
				<div class="col-md-6 register-top-grid">
					<table class="tRegister">
						<tr class="tRegisterTitle"><td>Thông tin tài khoản</td></tr>
						<tr>
							<td>
								<span class="myLabel">Email</span>
								<input type="text" name="email" value="">
							</td>
							<td><label style="color: red;"></label></td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Mật khẩu</span>
								<input type="password"
								name="password" value=""></td>
							<td><label style="color: red;"></label></td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Xác nhận mật khẩu</span>
								<input type="password" name="confirmPassword" value="">
							</td>
							<td><label style="color: red;"></label></td>
						</tr>
					</table>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 register-bottom-grid">
					<table class="tRegister">
						<tr class="tRegisterTitle"><td>Thông tin cá nhân</td></tr>
						<tr>
							<td>
								<span class="myLabel">Họ tên</span>
								<input type="text" name="name" value="">
							</td>
							<td><label style="color: red;"></label></td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Địa chỉ giao hàng</span>
								<input type="text" name="address" value="">
							</td>
							<td><label style="color: red;"></label></td>
						</tr>
						<tr>
							<td>
								<span class="myLabel">Địa chỉ giao hàng</span>
								<input type="text" name="phoneNumbers" value="">
							</td>
							<td><label style="color: red;"></label></td>
						</tr>
					</table>
				</div>
				<div>
					<input type="submit" class="registerSubmit" value="Đăng ký">
					<a class="accountLink loginFromRegister" href="login.jsp">Đăng nhập</a>
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>

	<!--//content-->
	<!--footer-->
	<!--//footer-->
</body>
</html>